 h1{
  text-align: center;
}
nobr{
  text-align: center;
}
body{
  text-align: center;
}
html,body {
  height: 100%;
}

ody:after {/*擬似要素をつくる*/
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%;
  height: 100%;/*画面全体を覆う*/
  content: "";
  background: #f89174;/*保険用*/
  background: -moz-linear-gradient(top, #db57cd 0%,#2feda7 100%);
  background: -webkit-linear-gradient(top, #db57cd 0%,#2feda7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 );
  background: linear-gradient(to bottom, #db57cd 0%,#2feda7 100%);
  z-index: -1;
}